*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.left{
    float: left;
}
img{
    max-width: 100%;
}
.right{
    float: right;
}
.mid{
    max-width: 1330px;
    margin: auto;
}
body,a,h1,h2,h3,h4,h5,span,p{
    font-family: 'Work Sans', sans-serif;
}
.btn1{
    border: transparent;
}
/*main css*/
.header-scetion{
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 6px 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}
.header-logo{
    width: 30%;
}
.header-menu{
    width: 60%;
}
.header-b{
    width: 10%;
}
.header-logo img{
    width: 60px;
    float: left;
    margin-right: 15px;
}
.header-logo span{
    font-weight: 700;
    line-height: 3;
    font-size: 20px;
}
}
.primary{}
.primary ul{}
.primary ul li{
    display: inline-block;
    position: relative;
}
.primary ul li a{
    display: block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 4;
}
.primary ul li a:hover{}
.primary ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(252, 250, 250);
    width: 250px;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transition: .5s;
    transform-origin: top center;
    z-index: 9;
}
.primary ul li:hover ul{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}
.primary ul li ul li{
    display: block;
}
.primary ul li ul li a{
    display: block;
}
.header-b{
    text-align: right;
}
.header-b .btn{
    text-decoration: none;
    border: 1px solid #6278df;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    transition: .5s;
    display: inline-block;
    margin-top: 15px;
    font-weight: 600;
}
.btn:hover{
    background: #6278df;
    color: #fff;
}
  


/*banner-scetion*/
.banner-scetion{
    background-image: url(https://i.ibb.co/Zf11Gkh/mbr-4.jpg);
    padding: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    z-index: 1;
}
.banner-scetion::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5);
    z-index: -1;
}
.banner{
    text-align: center;
}
.banner h1{
    font-size: 60px;
    color: #fff;
    padding: 20px 0;

}
.banner h3{
    font-size: 30px;
    color: #fff;
}
.baton{
    background: #f7f7f7;
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #000;
    transition: .5s;
    font-weight: 700;
}
.baton:hover{
    background: #6278df;
    color: #fff;
}

/*video scetion*/
.video-scetion{
    padding: 100px 0;
    background: #f7f9ff;
}
.video-left{
    width: 48%;
}
.video-right{
    width: 48%;
}
.video-right h1{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 30px;
}
.video-right p{
    font-size: 20px;
    line-height: 30px;
    color: #767676;
}


/*about scetion*/
.about-scetion{}
.about-item h2{
    font-size: 50px;
    margin-bottom: 20px;
}
.about-item p{
    font-size: 25px;
    color: #767676;
     margin-bottom: 80px;
}
.about-left{}
.about-list{
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 30px;
}
.about-list{
    /* border: 1px solid #ddd; */
    padding: 40px;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0, .2);
}
.about-list span{
    float: left;
    height: 150px;
    margin-right: 20px;
    color: #6278df;
    font-size: 40px;
}
.about-list h2{
    font-weight: 700;
    margin-bottom: 20px;
}
.about-list p{
    font-size: 18px;
    color: #767676;
    line-height: 30px;
}


/*service-scetion*/
.service-scetion{
    background: #f7f7f7;
    padding: 60px 0;
}
.service h1{
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 400;
}
.service p{
    font-size: 25px;
    color: #767676;
    margin-bottom: 50px;
}

.service-box{}
.service-left{
    width: 31%;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0, .2);
    margin-right: 2%;
}
.service1{
    border-bottom: 1px solid #ddd;
    padding: 40px;
    transition: .4s;
}
/* .service1:hover{
    background: #6278df;
    color: #fff;
} */
.service-left:hover .service1{
    background: #6278df;
}
.service-left:hover .baton{
    background: #6278df;
    color: #fff;
}
.service1 h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}
.service1 h3 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 800;
}
.service1 span{
    font-size: 20px;
}
.service1 h4 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}
.service1 p {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}
.service2{
    margin-bottom: 30px;
    padding: 40px;
}
.service2 ul{
    list-style: none;
}
.service2 ul li{
    font-size: 25px;
    line-height: 3;
    color: #767676;
}

.m{
    margin-right: 20px;
    color: #6278df;
    font-size: 25px;
    font-weight: 900;
}


/*team-scetion*/
.team-scetion{
    padding: 100px 0;
}
.team h1{
    font-size: 40px;
    font-weight: 600;
}
.team-left{
    width: 23%;
    margin-right: 2%;
}
.team1{
    box-shadow: 4px 4px 20px 0 rgba(0,0,0, .2);
    margin-top: 60px;
   

}
.team1 img{
    width: 310px;
    border-radius: 10px 10px 0 0;


}
.team1 h3{
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 15px;
}
.team1 p{
    margin-top: 10px;
    margin-left: 15px;
    padding-bottom: 30px;
}


/*news letter scetion*/
.news-scetion{
    background: #f7f7f7;
    padding: 100px 0;
}

.news h3{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #767676;
}
.news h1{
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 50px;
}
.btn1{
    font-size: 20px;
    padding: 20px 30px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0, .2);
    transition: .5s;
}
.btn1:focus{
   border: 1px solid #6278df;
   outline: none;
   box-shadow: 4px 4px 20px 0 #6278df;
}



.btn2{
    font-size: 20px;
    display: inline-block;
    padding: 20px 60px;
    margin-left: 10px;
    color: #fff;
    background: #6278df;
    border-radius: 5px;
    transition: .5s;
    border: none;
    cursor: pointer;
}
.btn2:hover{
    background: #f7f7f7;
    color: #6278df;
    border: 1px solid #6278df;
}


.news-letter{
    padding: 100px 0;
}
.news-left{
    width: 48%;
}
.news-right{
    width: 48%;
}
.news2{
    box-shadow: 4px 4px 20px 0 rgba(0,0,0, .2);

}  
.news1 h1{
    font-size: 50px;
    margin-bottom: 100px;
    font-weight: 400;
}
.news2 img{
    width: 350px;
    float: left;
    margin-right: 25px;
    border-radius: 5px 0 0 5px;

}
.news2 h4{
    font-size: 25px;
    padding-top: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}
.news2 p{
    font-size: 25px;
     padding-bottom: 15px;
    color: #767676;
}
.news3 h5{
    font-size: 22px;
    margin-bottom: 80px;
    color: #767676;
    font-weight: 400;
}
.news4 img{
    width: 350px;
    float: left;
    margin-right: 25px;
    border-radius: 5px 0 0 5px;

}
.news4{
    box-shadow: 4px 4px 20px 0 rgba(0,0,0, .2);
    border-radius: 10px;
}

.news4 h3{
    padding: 40px 0;
    font-size: 25px;
}
.news4 p{
    font-size: 20px;
    padding-bottom: 53px;
    color: #767676;
    padding-right: 20px;
}


/*feed back*/
.feed-back-scetion{
    padding: 100px 0;
    background-color: #f7f7f7;
}

.feed h3{
    color: #767676;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
}
.feed h1{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 50px;
}
.feed-left{
    width: 31%;
    margin-right: 2%;
   
}
.feed1{
    box-shadow: 4px 4px 20px 0 #728af581;
    padding: 50px;
    color: #fff;
    position: relative;

}
.feed1::after{
    content: "";
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    margin: auto;
    width: 0;
height: 0;
border-style: solid;
border-width: 20px 20px 0 20px;
border-color: #ffffff transparent transparent transparent;

}
.feed1 p{
    font-size: 20px;
    color: #767676;
    line-height: 1.5em;
    text-align: center;
    position: relative;
}
.feed1 p::before{
    content: "\f10d";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    position: absolute;
    font-size: 80px;
    opacity: .15;
    left: -10px;
    top: -10px;
} 
.feed2 img{
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 50%;
    width: 100px;
    float: left;
    margin-right: 40px;
}
.feed2 h2{
   padding-top: 50px;
   font-weight: 400;
   margin-bottom: 20px;
}
.feed2 p{
    color: #767676;
}
/*contact scetion*/
.contact-left{
    width: 48%;
}
.contact-right{
    width: 48%;
}
.contact-scetion{
    padding: 60px 0;
}
.contact h2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 400;
}
.contact p{
    font-size: 25px;
    line-height: 1.5;
    color: #767676;
    margin-bottom: 40px;
    font-weight: 400;
}
.from .btn1{
    margin-bottom: 20px;
}
.from .w100{
    width: 100%;
}
.from .w50{
    width: 48%;
}
.from .w50{
    width: 48%;
}
.from .btn2{
    margin-left: 0;
}
.footer p{
    margin-bottom: 30px;
    font-size: 20px;
}